.collections {
	&-hero {
		min-height: 300px;
		background: #333;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 2em .5em;
		background: linear-gradient(306deg,#fbdd78, #fbc100);
		background-size: 400% 400%;
		-webkit-animation: AnimationName 24s ease infinite;
		-moz-animation: AnimationName 24s ease infinite;
		animation: AnimationName 24s ease infinite;

		h2 {
			color: #333;
			font-weight: 700;
			font-size: 50px;
			line-height: 45px;
			text-transform: lowercase;
			margin-bottom: 15px;
			text-align: center;
		}

		p {
			font-size: 25px;
			color: #333;
			text-align: center;
			font-weight: 300;
			margin: 0 0 25px 0;
		}
	}

	.card {
	    max-width: 300px !important;

		@include media($ivertical) {
			width: 100% !important;
		}

		.description {
			font-size: 16px;
			line-height: 25px;
		}
	}
}

