.contacto {
	width: 100%;
	margin: 0 auto;
	background-image: url(https://santuan.github.io/web/img/back-contacto.svg);
	background-color: #f9f9f9;
	background-size: 400px;

	h2 {
		color: #333;
		font-weight: 700;
		font-size: 60px;
		text-transform: lowercase;
		margin-bottom: 5px;
		text-align: center;
	}

	p {
		font-size: 25px;
		color: #333;
		text-align: center;
		font-weight: 300;
		margin: 0 0 25px 0;
	}

	.cognito-form {
		max-width: 680px;
		margin: 0 auto;
		padding: 2em;
		background: #fff;
	}
}