.works-hero {
	background: linear-gradient(306deg,#e74446,#8c3a39);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 24s ease infinite;
	-moz-animation: AnimationName 24s ease infinite;
	animation: AnimationName 24s ease infinite;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em .5em;

	h2 {
		color: #fff;
		font-weight: 300;
		font-size: 60px;
		line-height: 45px;
		text-transform: lowercase;
		margin-bottom: 15px;
		text-align: center;
	}

	p {
		font-size: 25px;
		color: #fff;
		text-align: center;
		font-weight: 300;
		margin: 0 0 25px 0;
	}
}

.works-container {
	.card {
		width: 400px !important;

		a {
			overflow: hidden;
			background: #333 !important;
			transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);

			img {
				opacity: 1;
				transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
			}

			&:hover {
				img {
					transform: scale(1.15);
					opacity: .9;
				}
			}
		}
	}
}

article {
	padding: 2em 0;
	max-width: 600px;
	margin: 0 auto;

	p {
		font-size: 20px;
	}

	img {
		width: 100%;
	}
}