<div class="works-hero">
	<h2>Proyectos</h2>	
</div>
<div class="wrapper">
	<div class="ui cards works-container">
	  	{{#each model as |works|}}
	  		<div class="card animated fadeIn">
				{{#link-to 'works.show' works.id class="image"}} 
					<img src="{{works.img}}">
				{{/link-to}}
			</div>
	    {{/each}}
	</div>
</div>

