<div class="collections-hero">
	<h2>Contacto</h2>	
	<div class="social">
		<a href="mailto:santuan.dg@gmail.com" target="_blank" class="social-envelope">
			<i class="fas fa-envelope"></i>
		</a>

		<a href="https://telegram.me/santuan" target="_blank" class="social-telegram">
			<i class="fab fa-telegram"></i>
		</a>

		<a href="https://www.instagram.com/santuan.dg/" target="_blank" class="social-instagram">
			<i class="fab fa-instagram"></i>
		</a>

		<a href="https://www.facebook.com/santuandg/" target="_blank" class="social-facebook">
			<i class="fab fa-facebook-square"></i>
		</a>

		<a href="https://wa.me/5491163616191" target="_blank" class="social-whatsapp">
			<i class="fab fa-whatsapp"></i>
		</a>
	</div>
</div>
<section class="wrapper contacto" id="contacto">
    <div class="cognito-form ">
    	<p>
    		También podes completar el siguiente formulario con tu consulta y te responderé a la brevedad.
    	</p>
    <iframe src="https://services.cognitoforms.com/f/-pK5tws7fkyjdhjone8-Wg?id=1" style="position:relative;width:1px;min-width:100%;*width:100%;" frameborder="0" scrolling="yes" seamless="seamless" height="657" width="100%"></iframe>
    <script src="https://services.cognitoforms.com/scripts/embed.js"></script>
    </div>
</section>



